<div id="dashboard">
    <h1>DASHBOARD</h1>
    <section>
        <div>
            SOME AWESOME CHART
        </div>
        <% @courses.each do |course| %>
        <div class="course">
            <div class="name"><%= course.name %></div>
            <div class="number"><%= course.number %></div>
            <div id="tally-<%= course.id %>" class="stat"><%= course.counters.size %>
                People</div>
            <div class="actions">
                <button onclick="tally(<%= course.id %>)">+</button>
            </div>
        </div>
        <% end %>
        <div class="text-center">
            <a href="/add">Add New Course</a>
        </div>
    </section>
    <script type="text/javascript">
        function tally(id) {
            // $ = jquery
            //
            // $.get = makes a GET request to your server
            $.get('example-count/' + id + '/1').success(function (counters) {
                $('#tally-' + id).html(counters.length + ' People');
            }).error(console.error);
        }
    </script>
</div>
